header{
    background-color:deepskyblue
}

h2{
    color:cadetblue;
    background-color:lightblue
    
}
h3{
    color:deeppink;
    background-color:lightgreen
}
div.info{
    border-style: solid;
    border-width: 5px 5px;
    border-color: hotpink;
    margin:auto;
    padding: 5px;
    text-align: center;
}