header{
    background-color:deepskyblue
}

h2{
    color:cadetblue;
    background-color:lightblue
    
}
h3{
    color:deeppink;
    background-color:lightgreen
}
div.info{
    border-style: solid;
    border-width: 15px 15px 15px 15px;
    border-color: hotpink;
    margin: 75px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}